.portfolio-pagination{
	margin: 80px auto 0px;
	width: 500px;
	text-align: center;
	color: white;
	padding-bottom: 50px;
}
#portfolio-field{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
#card-small-banner{
	display: block;
	width: 328px;
	height: 328px;
	border-radius: 16px;
	margin-bottom: 20px;
}
#card-small-banner img{
		  width: 100%;
  height: 100%;
  object-fit:cover;
  	border-radius:16px
}
#container-body-inner{
	padding-top: 168px;
		width: 1404px;
	margin: 0px auto;
}
.offer{
	color: white;
	margin: 0px auto;
	display: block;
	text-align: center;
	width: 1920px;
	background-color: coral;
}
ul.breadcrumb {
  padding: 10px 0px 10px 0px;
  list-style: none;
  color: #cecece;
}

/* Отображение элементов списка бок о бок */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Добавить символ косой черты (/) перед/за каждым элементом списка */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}

/* Добавить цвет для всех ссылок внутри списка */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*404----start*/
#header-center-404{
	padding-top: 168px;
}
#top-text-404{
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: 'Staatliches', sans-serif;
	font-size: 80px;
}
#img-404 img{
		display: block;
	margin: 80px auto 0px;
	width: 700px;
	height: 400px;
}
#button-404{
	display: block;
margin-top: 40px;
}
#button-404 a{
	color: white;
	text-decoration: none;
}
#button-404 button{
			margin: 0px auto;
	display: block;
}
/*404 END*/